body{
    
    background-color: black;
    
}

.text{
    
    color: white;
    font-family: futura;
    font-size: 160px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
}

.ready{
    
    color: white;
    font-family: futura;
    font-size: 300px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
}


.sorry{
    
    color: white;
    font-family: futura;
    font-size: 300px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 100px;
}